VITE_METANI_PORTAL_URL=http://localhost:3050
VITE_METANI_SSO_URL=http://localhost:3050/api/sso
VITE_METANI_SSO_CLIENT_ID=inc-wallet-web
VITE_HUDLIFE_PORTAL_URL=http://localhost:3050
VITE_HUDLIFE_SSO_URL=http://localhost:3050/api/sso
VITE_ITANI_SSO_CLIENT_ID=inc-wallet-web
VITE_ITANI_STAKING_ENDPOINT=https://relay.itaninetworkchain.com/api/wallet/stake-tokens
VITE_ITANI_BTC_RATE=10000
